{% extends 'base.html' %}

{% block title %}Add Customers{% endblock %}

{% load user_custom_tags %}

{% block menubar %}
    {% if request.user|has_group:"owner" %}
        {% include 'owner_menu.html' %}
    {% elif request.user|has_group:"salesman" %}
        {% include 'salesman_menu.html' %}
    {% endif %}
{% endblock %}

{% block content %} 
<h1>Add Customers</h1>
<a href="/customers/"><button>Back to Customers</button></a>

{% if message %}
<p class="success-message">{{message}}</p>
{% endif %}

{% if customer_form.errors %}
    {% for error in customer_form.non_field_errors %}
        <p class="error-message">{{error}}</p>
    {% endfor %}
{% endif %}

<form method="POST" action="">
    {% csrf_token %}
    {{customer_form}}
    <button type="submit">Add Customer</button>
</form> 
{% endblock %}