{% extends 'base.html' %}

{% block title %}Edit Customers{% endblock %}

{% load user_custom_tags %}

{% block menubar %}
    {% if request.user|has_group:"Owner" %}
        {% include 'owner_menu.html' %}
    {% elif request.user|has_group:"Salesman" %}
        {% include 'salesman_menu.html' %}
    {% endif %}
{% endblock %}

{% block content %}
<a href="/customers/"><button><i class="fa-solid fa-arrow-left"></i>Back to Customers</button></a>
<div class="container">
    <h1>Edit Customer Details</h1>
    
    {% if customer_form.errors %}
        {% for error in customer_form.non_field_errors %}
            <p class="alert alert-danger"><i class="fa-solid fa-circle-exclamation"></i>{{error}}</p>
        {% endfor %}
    {% endif %}
    
    <form method="POST" action="">
        {% csrf_token %}
        {% for field in customer_form %}
            <div class="form-group">
            {{ field.label_tag }}
            
            {% if field.help_text %}
                <small class="help-text">{{ field.help_text }}</small>
            {% endif %}
            
            {% for error in field.errors %}
                <div class="field-error">{{ error }}</div>
            {% endfor %}
            
            {{ field }}
            </div>
        {% endfor %}
        <button type="submit">Save details</button>
    </form>
</div>
{% endblock %}