{% extends 'base.html' %}

{% block title %}Purchase Details{% endblock %}

{% load user_custom_tags %}

{% block menubar %}
    {% if request.user|has_group:"Owner" %}
        {% include 'owner_menu.html' %}
    {% elif request.user|has_group:"Salesman" %}
        {% include 'salesman_menu.html' %}
    {% endif %}
{% endblock %}

{% block content %}
<a href="/purchases/"><button><i class="fa-solid fa-arrow-left"></i>Back to Purchases</button></a>

<div class="container">
    <h2>Purchase Details</h2>
    <table>
        <tr>
            <th><i class="fa-solid fa-hashtag"></i>Purchase Id</th>
            <td>{{purchase_ref.purchase_id}}</td>
        </tr>
        <tr>
            <th><i class="fa-solid fa-calendar-days"></i>Purchased Date</th>
            <td>{{purchase_ref.purchased_date}}</td>
        </tr>
        <tr>
            <th><i class="fa-solid fa-user"></i>Supplier</th>
            <td>{{purchase_ref.supplier_ref}}</td>
        </tr>
    </table>
    <h3>Products</h3>
    <table id="products" class="table">
        <thead>
            <th>Product Name</th>
            <th>Qty</th>
            <th>Unit Cost Price</th>
            <th>Total</th>
        </thead>
        <tbody>
            {% for product in purchased_items %}
            <tr>
                <td>
                    {{product.product_detail_ref}}
                </td>
                <td class="quantity">{{product.quantity}}</td>
                <td class="unit_cost_price">&#8377; {{product.unit_cost_price}}</td>
                <td class="total"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="display_amounts">
        <p class="bill_amount"><strong><i class="fa-solid fa-money-bill-1-wave"></i>Bill Amount: </strong>&#8377; {{purchase_ref.bill_amount}}</p>
    </div>
    <h3>Purchase Payments</h3>
    <table class="table">
        <thead>
            <th>Payment Date</th>
            <th>Paid Amount</th>
            <th>Balance</th>
        </thead>
        <tbody>
            {% if purchase_payments %}
                {% for payment in purchase_payments %}
                <tr>
                    <td>{{payment.payment_date}}</td>
                    <td>&#8377; {{payment.paid_amount}}</td>
                    <td>&#8377; {{payment.balance_amount}}</td>
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="3" style="text-align: center; font-size: 16px;">No Payment added</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {% if balance_amount > 0 %}
        <div>
            <strong><i class="fa-solid fa-hand-holding-dollar"></i>Balance Amount to Pay: &#8377; {{balance_amount}}</strong>
            <p><a href="{% url 'add_payment' purchase_ref.purchase_id %}"><button class="btn btn-payment"><i class="fa-solid fa-indian-rupee-sign"></i>Record payment</button></a></p>
        </div>
    {% elif balance_amount == 0 %}
    <p class="full_amount_paid">Full amount paid</p>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script>
    quantities = document.querySelectorAll(".quantity")
    unit_cost_prices =  document.querySelectorAll(".unit_cost_price")
    totals = document.querySelectorAll(".total")
    for(let i=0; i<quantities.length; i++){
        price = unit_cost_prices[i].textContent.substr(1)
        totals[i].innerHTML =  "&#8377; " + parseFloat(quantities[i].textContent) * parseFloat(price)
        totals[i].style.width = "max-content";
    }
</script>
{% endblock %}