{% extends 'base.html' %}

{% block title %}Product Attributes{% endblock %}

{% load user_custom_tags %}

{% block menubar %}
    {% if request.user|has_group:"Owner" %}
        {% include 'owner_menu.html' %}
    {% elif request.user|has_group:"Salesman" %}
        {% include 'salesman_menu.html' %}
    {% endif %}
{% endblock %}

{% block content %}
<a href="/products/"><button><i class="fa-solid fa-arrow-left"></i>Back to Products</button></a>

<div class="container">
    <h2>Product Attributes</h2>
    <a href="/products/attributes/add/"><button class="btn btn-add"><i class="fa-solid fa-plus"></i>Add Attribute</button></a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for attribute in attributes %}
            <tr>
                <td>{{attribute.attribute_id}}</td>
                <td>{{attribute.attribute_name}}</td>
                <td><a href="{% url 'edit_attribute' attribute.attribute_id %}"><button class="btn btn-edit"><i class="fa-solid fa-pen-to-square m-0"></i></button></a></td>
                <td><a href="{% url 'delete_attribute' attribute.attribute_id %}"><button class="btn btn-delete"><i class="fa-regular fa-trash-can m-0"></i></button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}