{% extends 'base.html' %}

{% block title %}Login Page{% endblock %}

{% load user_custom_tags %}

{% block menubar %}
    {% if request.user|has_group:"Owner" %}
        {% include 'owner_menu.html' %}
    {% elif request.user|has_group:"Salesman" %}
        {% include 'salesman_menu.html' %}
    {% endif %}
{% endblock %}

{% block custom_head_tag %}
    <style>
        body{
            background-color: orange;
        }
        .content{
            margin-left: 0px;
        }
        header .menu_icon{
            display:none;
        }
    </style>
{% endblock %}

{% block content %}
        
    <div class="login_div">
        <h2>Login</h2>
        <form action="" method="POST">
            {% if error %}
                <p class="alert alert-danger"><i class="fa-solid fa-circle-exclamation"></i>{{error}}</p>
            {% endif %}
            {% csrf_token %}
            <div>
                <label for="id_username">Enter Username</label><br>
                <input type="text" name="username" id="id_username" required>
            </div>
            <div>
                <label for="id_password">Enter Password</label><br>
                <input type="password" name="password" id="id_password" required>
            </div>
            <button>Login</button>
        </form>
    </div>

{% endblock %}