{% extends 'base.html' %}

{% block title %}Add Payment{% endblock %}

{% load user_custom_tags %}

{% block menubar %}
    {% if request.user|has_group:"owner" %}
        {% include 'owner_menu.html' %}
    {% elif request.user|has_group:"salesman" %}
        {% include 'salesman_menu.html' %}
    {% endif %}
{% endblock %}

{% block content %}
<a href="/sales/"><button>Back to Sales</button></a>
<h2>Add Payment</h2>

<h3 style="font-size: 250x;">Sale Details</h3>
<table class="table">
    <tbody>
        <tr>
            <th>Customer</th>
            <td>{{sale_ref.customer_ref}}</td>
        </tr>
        <tr>
            <th>sale Date</th>
            <td>{{sale_ref.sold_date}}</td>
        </tr>
        <tr>
            <th>Bill Amount</th>
            <td>{{sale_ref.bill_amount}}</td>
        </tr>
        <tr>
            <th>Discount Amount</th>
            <td>- {{sale_ref.discount_amount}} ({{sale_ref.discount_percent}}%)</td>
        </tr>
        <tr>
            <td colspan="2" style="font-size: 20px; text-align: center; font-weight: bold;">Total amount: {{total_amount}}</td>
        </tr>
    </tbody>
</table>

<p style="text-align: center;">
    <p><strong>Paid Amount:</strong><span>{{paid_amount}}</span><br></p>
    <p style="font-size: 25px;"><strong>balance Amount to Pay: </strong><span>{{balance_amount}}</span></p>
</p>

<form action="" method="POST">
    {% csrf_token %}
    <div>
        <label for="id_paid_amount">Enter the amount customer Paid: </label>
        {% if balance_amount > 0 %}
            <input type="number" name="paid_amount" id="id_paid_amount" required max={{balance_amount}} >
            <button type="submit">Add Paid amount</button>
        {% else %}
            <input type="number" name="paid_amount" id="id_paid_amount" required max={{balance_amount}} disabled>
            <button type="submit" disabled>Add Paid amount</button>
        {% endif %}
    </div>
</form>
{% endblock %}