{% extends 'base.html' %}

{% block title %}Add Sale{% endblock %}

{% block content %}
<h2>Add Sale</h2>
<p><a href="/sales/"><button>Back to Sales</button></a></p>
<form method = "POST" action="">
    {% csrf_token %}
    {{customer_ref_form}}
    <div class="sale_items_block">

    </div>
    <button type="button" id="add_item">Add Item</button>
    <div>
        <label for="id_total_amt">Total Amount</label>
        <input type="number" name="total_amt" id="id_total_amt" readonly>
    </div>
    <button type="submit">Add Sale and Next</button>
</form>
<script>

    let product_selling_prices = JSON.parse("{{product_selling_prices|escapejs}}")
    let items_block = document.querySelector(".sale_items_block")
    let sale_item = document.createElement("div")
    sale_item.classList.add("sale_item")
    sale_detail_add_form = `{{sale_detail_add_form}}
    <div>
        <label for="id_product_amt">Total product amount</label>
        <input type="number" name="product_amt" id="id_product_amt" readonly>
    </div>`
    sale_item.innerHTML = sale_detail_add_form
    // discount_percent = sale_item.querySelector("input[name='discount_percent']")
    // discount_amount = sale_item.querySelector("input[name='discount_amount']")
    
    // discount_percent.addEventListener("change", ()=>{
    //     if(discount_percent.value == 0){
    //         discount_amount.removeAttribute("readonly");
    //     }
    //     else{
    //         discount_amount.setAttribute("readonly");
    //         discount_amount.value = discount_percent
    //     }
    // })

    items_block.appendChild(sale_item)
    sale_item.querySelector("input[name='quantity']").addEventListener("change", (e)=>{
        calcproductprice(e)
    })
    sale_item.querySelector("input[name='unit_sell_price']").addEventListener("change", (e)=>{
        calcproductprice(e)
    })
    let choosed_product_detail_ref = sale_item.querySelector("select[name='product_detail_ref']")
    choosed_product_detail_ref.addEventListener("change",()=>{
        sale_item.querySelector("input[name='unit_sell_price']").value = product_selling_prices[choosed_product_detail_ref.value]
    })
    
    let add_item_btn = document.querySelector("#add_item")
    add_item_btn.addEventListener("click", ()=>{    
        let sale_item = document.createElement("div")
        sale_item.setAttribute("class","sale_item")
        sale_item.innerHTML = sale_detail_add_form

        const remove_item_btn = document.createElement("button")
        remove_item_btn.setAttribute("type","button")
        remove_item_btn.classList.add("remove_item")
        remove_item_btn.textContent = "Remove Item"
        remove_item_btn.addEventListener("click", ()=>{
            remove_item_btn.parentElement.remove()
        })

        sale_item.appendChild(remove_item_btn)
        items_block.appendChild(sale_item)
        sale_item.querySelector("input[name='quantity']").addEventListener("change", (e)=>{
            calcproductprice(e)
        })
        sale_item.querySelector("input[name='unit_sell_price']").addEventListener("change", (e)=>{
            calcproductprice(e)
        })
        let choosed_product_detail_ref = sale_item.querySelector("select[name='product_detail_ref']")
        choosed_product_detail_ref.addEventListener("change",()=>{
            sale_item.querySelector("input[name='unit_sell_price']").value = product_selling_prices[choosed_product_detail_ref.value]
        })
    })


    function calcproductprice(e){
        quantity = e.target.closest('.sale_item').querySelector("input[name='quantity']")
        sell_price = e.target.closest('.sale_item').querySelector("input[name='unit_sell_price']")
        
        if(quantity.value!="" && sell_price.value!=""){
            e.target.closest('.sale_item').querySelector("input[name='product_amt']").value = quantity.value * sell_price.value
            calctotalprice()
        }
    }

    function calctotalprice(){
        let sale_items = document.querySelectorAll('.sale_item')
        let total = 0
        sale_items.forEach((sale_item)=>{
            total += sale_item.querySelector("input[name='quantity']").value*sale_item.querySelector("input[name='unit_sell_price']").value
            document.querySelector("input[name='total_amt']").value = total
        })
    }
</script>
{% endblock %}