{% extends 'base.html' %}

{% block title %}Add Payment{% endblock %}

{% block content %}
<h1>Add Payment</h1>
<a href="/sales/"><button>Back to sales</button></a>

<h3>sale Details</h3>
<p><span>Supplier: </span><span>{{sale_ref.supplier_ref}}</span><br>
<span>sale Date: </span> <span>{{sale_ref.saled_date}}</span><br>
<span>sale Amount: </span><span>{{sale_ref.bill_amount}}</span><br>
{% if sale_ref.bill_amount != sale_ref.total_amount %}
<span>Total sale Amount with prev Balance: </span><span>{{sale_ref.total_amount}}</span>
{% endif %}
</p>
{% if paid_amount %}
<p><span>Paid Amount:</span><span>{{paid_amount}}</span><br>
{% endif %}
{% if discounted_amount > 0 %}
<span>Discounted Amount:</span><span>{{discounted_amount}}</span><br>
{% endif %}
<span>balance Amount to Pay: </span><span>{{balance}}</span></p>
<form action="" method="POST">
    {% csrf_token %}
    <div>
        <label for="id_paid_amount">Enter the Amount you Paid: </label>
        <input type="number" name="paid_amount" id="id_paid_amount" required>
    </div>
    <div>
        <label for="id_discounted_amount">Enter if any amount discounted: </label>
        <input type="number" name="discounted_amount" id="id_discounted_amount">
    </div>
    <button type="submit">Add</button>
</form>
{% endblock %}