{% extends 'base.html' %}

{% block title %}Record Sale Payment{% endblock %}

{% load user_custom_tags %}

{% block menubar %}
    {% if request.user|has_group:"owner" %}
        {% include 'owner_menu.html' %}
    {% elif request.user|has_group:"salesman" %}
        {% include 'salesman_menu.html' %}
    {% endif %}
{% endblock %}

{% block content %}
<a href="/sales/"><button><i class="fa-solid fa-arrow-left"></i>Back to Sales</button></a>
<div class="container">
    <h2>Record Payment</h2>
    
    <h3 style="font-size: 250x;">Sale Details:</h3>
    <table class="table">
        <tbody>
            <tr>
                <th><i class="fa-solid fa-user"></i>Customer</th>
                <td>{{sale_ref.customer_ref}}</td>
            </tr>
            <tr>
                <th><i class="fa-solid fa-calendar-days"></i>Sold Date</th>
                <td>{{sale_ref.sold_date}}</td>
            </tr>
            <tr>
                <th><i class="fa-solid fa-receipt"></i>Bill Amount</th>
                <td>&#8377; {{sale_ref.bill_amount}}</td>
            </tr>
            <tr>
                <th><i class="fa-solid fa-percent"></i>Discount Amount</th>
                <td>- &#8377; {{sale_ref.discount_amount}} ({{sale_ref.discount_percent}}%)</td>
            </tr>
            <tr>
                <td colspan="2" style="font-size: 20px; text-align: center; font-weight: bold;"><i class="fa-solid fa-coins"></i>Total amount: &#8377; {{total_amount}}</td>
            </tr>
        </tbody>
    </table>
    
    <div class="display_amounts">
        <p class="paid_amount"><strong><i class="fa-solid fa-money-bill-1-wave"></i>Paid Amount: </strong><span>&#8377; {{paid_amount}}</span></p>
        <p class="balance_amount"><strong><i class="fa-solid fa-hand-holding-dollar"></i>Balance Amount to Pay: </strong><span>&#8377; {{balance_amount}}</span></p>
    </div>
    
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            <label for="id_paid_amount">Enter the amount customer Paid: </label>
            {% if balance_amount > 0 %}
                <input type="number" name="paid_amount" id="id_paid_amount" required max={{balance_amount}} >
                <button type="submit">Add Paid amount</button>
            {% else %}
                <input type="number" name="paid_amount" id="id_paid_amount" required max={{balance_amount}} disabled>
                <button type="submit" disabled>Add Paid amount</button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    window.onload = ()=>{
        paid_amount = document.querySelector("input[name='paid_amount']")
        paid_amount.focus()
    }
</script>
{% endblock %}