{% extends 'base.html' %}

{% block title %}Add Suppliers{% endblock %}

{% block content %} 
<h1>Add Suppliers</h1>

<a href="/suppliers/"><button>Back to Suppliers</button></a>

{% if message %}
<p class="success-message">{{message}}</p>
{% endif %}

{% if supplier_form.errors %}
    {% for error in supplier_form.non_field_errors %}
        <p class="error-message">{{error}}</p>
    {% endfor %}
{% endif %}

<form method="POST" action="">
    {% csrf_token %}
    {{supplier_form}}
    <button type="submit">Add Supplier</button>
</form> 
{% endblock %}