{% extends 'base.html' %}

{% block title %}Add Payment{% endblock %}

{% block content %}
<a href="/purchases/"><button>Back to Purchases</button></a>
<h2>Add Payment</h2>

<h3 style="font-size: 250x;">Purchase Details</h3>
<table class="table">
    <tbody>
        <tr>
            <th>Supplier</th>
            <td>{{purchase_ref.supplier_ref}}</td>
        </tr>
        <tr>
            <th>Purchase Date</th>
            <td>{{purchase_ref.purchased_date}}</td>
        </tr>
        <tr>
            <th>Bill Amount</th>
            <td>{{purchase_ref.bill_amount}}</td>
        </tr>
    </tbody>
</table>

<p style="text-align: center;">
    <p><strong>Paid Amount:</strong><span>{{paid_amount}}</span></p>
    <p style="font-size: 25px;"><strong>balance Amount to Pay: </strong><span>{{balance_amount}}</span></p>
</p>

<form action="" method="POST">
    {% csrf_token %}
    <div>
        <label for="id_paid_amount">Enter the Amount you Paid: </label>
        {% if balance_amount > 0 %}
            <input type="number" name="paid_amount" id="id_paid_amount" required max={{balance_amount}} >
            <button type="submit">Add Paid amount</button>
        {% else %}
            <input type="number" name="paid_amount" id="id_paid_amount" required max={{balance_amount}} disabled>
            <button type="submit" disabled>Add Paid amount</button>
        {% endif %}
    </div>
</form>
{% endblock %}