{% extends 'base.html' %}

{% block title %}Add Purchase{% endblock %}

{% block content %}
<h2>Add Purchase</h2>
<p><a href="/purchases/"><button>Back to Purchases</button></a></p>

<form method = "POST" action="">
    {% csrf_token %}
    {{purchase_header_form}}
    <div id="purchase_items_block">
        <div class="purchase_item">
            {{purchase_item_form}}
            <div>
                <label for="id_product_amount">Total product amount</label>
                <input type="number" name="product_amount" id="id_product_amount" readonly>
            </div>
        </div>
    </div>
    <button type="button" id="add_item_button">Add Item</button>
    <div>
        <label for="id_total_amount">Total Amount</label>
        <input type="number" name="total_amount" id="id_total_amount" readonly>
    </div>
    <button type="submit">Add Purchase and Next</button>
</form>
<script>
    let items_block = document.querySelector("#purchase_items_block")
    
    // initially change id of first purchase item form
    purchase_item = items_block.childNodes[1]
    purchase_item.innerHTML = purchase_item.innerHTML.replace(RegExp("id_", 'g'), `id_form-0_`)

    purchase_item.querySelectorAll(`input[name='quantity'], input[name='unit_cost_price']`).forEach((element)=>{
        element.addEventListener("change", (e)=>{
            calcproductprice(e)
        })
    })

    let formNum = items_block.children.length - 1
    document.querySelector("#add_item_button").addEventListener("click", ()=>{    
        let purchase_item = items_block.childNodes[1].cloneNode(true)
        formNum++
        purchase_item.innerHTML = purchase_item.innerHTML.replace(RegExp("id_form-(\\d){1}_", 'g'), `id_form-${formNum}_`)

        let remove_item_btn = document.createElement("button")
        remove_item_btn.setAttribute("type","button")
        remove_item_btn.setAttribute("class","remove_item_button")
        remove_item_btn.textContent = "Remove Item"
        remove_item_btn.addEventListener("click", ()=>{
            formNum--
            remove_item_btn.parentElement.remove()
        })
        purchase_item.appendChild(remove_item_btn)

        items_block.appendChild(purchase_item)
        purchase_item.querySelectorAll("input[name='quantity'], input[name='unit_cost_price']").forEach((element)=>{
            element.addEventListener("change", (e)=>{
                calcproductprice(e)
            })
        })
    })

    function calcproductprice(e){
        purchase_item = e.target.closest('.purchase_item')
        quantity = purchase_item.querySelector("input[name='quantity']")
        cost_price = purchase_item.querySelector("input[name='unit_cost_price']")
        
        if(quantity.value!="" && cost_price.value!=""){
            purchase_item.querySelector("input[name='product_amount']").value = quantity.value * cost_price.value
            calctotalprice()
        }
    }

    function calctotalprice(){
        let purchase_items = document.querySelectorAll('.purchase_item')
        let total = 0
        purchase_items.forEach((purchase_item)=>{
            quantity = purchase_item.querySelector("input[name='quantity']")
            cost_price = purchase_item.querySelector("input[name='unit_cost_price']")
            
            total += quantity.value * cost_price.value
            document.querySelector("input[name='total_amount']").value = total
        })
    }
</script>
{% endblock %}