{% extends 'base.html' %}

{% block title %}Purchases{% endblock %}

{% block content %}
<h2>Purchases</h2>
<a href="/purchases/add/"><button>Add Purchase</button></a>
<table class="table">
    <thead>
        <th>id</th>
        <th>Purchase Date</th>
        <th>Supplier</th>
        <th>Total amount</th>
        <th>Paid Amount</th>
        <th>Balance</th>
        <th>View</th>
        <th>Add paid amount</th>
    </thead>
    {% for purchase in purchases %}
    <tr>
        <td>{{purchase.purchase_ref.purchase_id}}</td>
        <td>{{purchase.purchase_ref.purchased_date}}</td>
        <td>{{purchase.purchase_ref.supplier_ref}}</td>
        <td>{{purchase.purchase_ref.bill_amount}}</td>
        <td>{% if purchase.paid_amount %}
                {{purchase.paid_amount}}
            {% else %}
                0
            {% endif %}
        </td>
        <td>{{purchase.balance_amount}}</td>
        <td><a href="{% url 'view_purchase' purchase.purchase_ref.purchase_id %}"><button>View</button></a></td>
        {% if purchase.balance_amount > 0 %}
        <td><a href="{% url 'add_payment' purchase.purchase_ref.purchase_id %}"><button>Add Payment</button></a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}