{% extends 'base.html' %}

{% block title %}Purchases{% endblock %}

{% block content %}
<h2>Purchases</h2>
<a href="/purchases/add/"><button>Add Purchase</button></a>
<table class="table">
    <thead>
        <th>id</th>
        <th>Purchase Date</th>
        <th>Supplier</th>
        <th>Total amount</th>
        <th>Paid Amount</th>
        <th>Balance</th>
        <th>View</th>
        <th>Add paid amount</th>
    </thead>
    {% for purchase in purchases %}
    <tr>
        <td>{{purchase.id}}</td>
        <td>{{purchase.purchased_date}}</td>
        <td>{{purchase.supplier_ref}}</td>
        <td>{{purchase.total_amount}}</td>
        <td>{{purchase.paid_amount}}</td>
        {% if purchase.last_purchase_from_supplier %}
        <td>{{purchase.balance_amount}}</td>
        {% else %}
        <td>added to last purchase from this supplier</td>
        {% endif %}
        <td><a href="{% url 'view_purchase' purchase.id %}"><button>View</button></a></td>
        {% if purchase.last_purchase_from_supplier %}
        <td><a href="{% url 'add_payment' purchase.id %}"><button>Add Payment</button></a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}