{% extends 'base.html' %}

{% block title %}Purchase Details{% endblock %}

{% block content %}
<a href="/purchases/"><button>Back to Purchases</button></a>
<h2>Purchase Details</h2>
<table class="table">
    <tr>
        <th>Purchase Id</th>
        <td>{{purchase_ref.purchase_id}}</td>
    </tr>
    <tr>
        <th>Purchased Date</th>
        <td>{{purchase_ref.purchased_date}}</td>
    </tr>
    <tr>
        <th>Supplier</th>
        <td>{{purchase_ref.supplier_ref}}</td>
    </tr>
</table>
<h3>Products</h3>
<table id="products" class="table">
    <thead>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Unit Cost Price</th>
        <th>Total</th>
    </thead>
    <tbody>
        {% for product in purchased_items %}
        <tr>
            <td>{{product.product_detail_ref}}</td>
            <td class="quantity">{{product.quantity}}</td>
            <td class="unit_cost_price">{{product.unit_cost_price}}</td>
            <td class="total"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div style="text-align: center; font-size: 18px;">
    <p id="bill_amount"><strong>Bill Amount: </strong><span>{{purchase_ref.bill_amount}}</span></p>
</div>
<h3>Purchase Payments</h3>
<table class="table">
    <thead>
        <th>Payment Date</th>
        <th>Paid Amount</th>
        <th>Balance</th>
    </thead>
    <tbody>
        {% if purchase_payments %}
            {% for payment in purchase_payments %}
            <tr>
                <td>{{payment.payment_date}}</td>
                <td>{{payment.paid_amount}}</td>
                <td>{{payment.balance_amount}}</td>
            </tr>
            {% endfor %}
        {% else %}
        <tr>
            <td colspan="3" style="text-align: center; font-size: 16px;">No Payment added</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% if balance_amount > 0 %}
    <div>
        <p>Balance Amount to Pay: {{balance_amount}}</p>
        <p><a href="{% url 'add_payment' purchase_ref.purchase_id %}"><button>Add Payment</button></a></p>
    </div>
{% endif %}
<script>
    quantities = document.querySelectorAll(".quantity")
    unit_cost_prices =  document.querySelectorAll(".unit_cost_price")
    totals = document.querySelectorAll(".total")
    for(let i=0; i<quantities.length; i++){
        totals[i].textContent =  parseFloat(quantities[i].textContent) * parseFloat(unit_cost_prices[i].textContent)
    }
</script>
{% endblock %}