{% extends 'base.html' %}

{% block title %}Add Variant{% endblock %}

{% load user_custom_tags %}

{% block menubar %}
    {% if request.user|has_group:"owner" %}
        {% include 'owner_menu.html' %}
    {% elif request.user|has_group:"salesman" %}
        {% include 'salesman_menu.html' %}
    {% endif %}
{% endblock %}

{% block content %}
<h1>Add Variant</h1>
<a href="/products/"><button>Back to Products</button></a>

{% if message %}
<p class="success-message">{{message}}</p>
{% endif %}

<p>Add variant for the product '{{product.product_name}}'</p>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{variant_form}}
    {{detail_form}}
    {{selling_price_form}}
    {% for form in attr_value_forms %}
        {{form}}
    {% endfor %}
    <button type="submit">Save</button>
</form>
{% endblock %}