{% extends 'base.html' %}

{% block title %}Add Products{% endblock %}

{% load user_custom_tags %}

{% block menubar %}
    {% if request.user|has_group:"owner" %}
        {% include 'owner_menu.html' %}
    {% elif request.user|has_group:"salesman" %}
        {% include 'salesman_menu.html' %}
    {% endif %}
{% endblock %}

{% block content %}
<h1>Add Products</h1>
<a href="/products/"><button>Back to Products</button></a>

{% if message %}
<p class="success-message">{{message}}</p>
{% endif %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{product_form}}
    <div id="productdetail">
        {{detail_form}}
        {{selling_price_form}}
    </div>
    <div id="attributes_div" style="display: none;">

        <button type="button" id="add_attribute_btn">Add Attribute</button>
    </div>
    <button id="add_button" type="submit">Add Product</button>
</form>
<script>
    const productdetailform = document.querySelector("#productdetail")
    const add_button = document.querySelector("#add_button")
    const has_variants_input = document.querySelector("#id_has_variants")
    
    //initial requirements for adding attributes
    const attributes_div = document.querySelector("#attributes_div")
    const add_attribute_btn = document.querySelector("#add_attribute_btn")
    let attribute_select = `{{attribute_form}}
            <button type="button" onclick="remove_attribute(this)">Remove</button>`

    //check the product has variant or not , then display respective content
    has_variants_input.addEventListener('change', ()=>{
        if(has_variants_input.checked){
            productdetailform.style.display="none";
            attributes_div.style.display = "block";
            document.querySelector("[name='selling_price']").disabled = true
            add_button.textContent = "Save and Continue add variant";
        }
        else{
            productdetailform.style.display="block"
            attributes_div.style.display = "none";
            document.querySelector("[name='selling_price']").disabled = false
            attributes_div.querySelectorAll(".attribute_form").forEach((element)=>{
                element.remove()
            })
            add_button.textContent = "Add Product"
        }
    });

    //add attribute if user click the button
    add_attribute_btn.addEventListener("click", ()=>{
        let attribute_form = document.createElement("div")
        attribute_form.classList.add("attribute_form")
        attribute_form.innerHTML = attribute_select
        // let attrnum = attributes_div.children.length 
        // attribute_form.innerHTML = attribute_select.replace(RegExp(`Attribute`, "g"), `Attribute ${attrnum}`)
        // attribute_form.innerHTML = attribute_form.innerHTML.replace(RegExp(`id_attribute_ref`, "g"), `id_attribute_ref_${attrnum}`)
        attributes_div.insertBefore(attribute_form, add_attribute_btn)

        order_id_n_label_of_attrs()
    })

    //removes the attribute
    function remove_attribute(btn){
        btn.parentElement.remove()
        order_id_n_label_of_attrs()
    }

    //regulate id and label of attribute_forms
    function order_id_n_label_of_attrs(){
        attrnum = 0
        attributes_div.querySelectorAll(".attribute_form").forEach(attribute_form=>{
            attrnum += 1
            label = attribute_form.querySelector("label")
            label.textContent =  `Attribute ${attrnum}`
            label.setAttribute("for",  `id_attribute_ref_${attrnum}`)
            attribute_form.querySelector("select").setAttribute("id", `id_attribute_ref_${attrnum}`)
        })
    }
</script>
{% endblock %}