{% extends 'base.html' %}

{% block title %}Add Variant{% endblock %}

{% load user_custom_tags %}

{% block menubar %}
    {% if request.user|has_group:"owner" %}
        {% include 'owner_menu.html' %}
    {% elif request.user|has_group:"salesman" %}
        {% include 'salesman_menu.html' %}
    {% endif %}
{% endblock %}

{% block content %}
<a href="/products/"><button><i class="fa-solid fa-arrow-left"></i>Back to Products</button></a>
<div class="container">
    <h2>Add Variant</h2>
    
    <p>Edit variant detail of the product <strong>'{{product}}'</strong></p>
    
    {% if message %}
        <p class="alert alert-success"><i class="fa-solid fa-circle-check"></i>{{message}}</p>
    {% endif %}
    
    {% if error %}
        <p class="alert alert-danger"><i class="fa-solid fa-circle-exclamation"></i>{{error}}</p>
    {% endif %}

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in variant_form %}
            <div class="form-group">
            {{ field.label_tag }}
            
            {% if field.help_text %}
                <small class="help-text">{{ field.help_text }}</small>
            {% endif %}
            
            {% for error in field.errors %}
                <div class="field-error">{{ error }}</div>
            {% endfor %}
            
            {{ field }}
            
            </div>
        {% endfor %}
        
        {% for field in detail_form %}
            <div class="form-group">
            {{ field.label_tag }}
            
            {% if field.help_text %}
                <small class="help-text">{{ field.help_text }}</small>
            {% endif %}
            
            {% for error in field.errors %}
                <div class="field-error">{{ error }}</div>
            {% endfor %}
            
            {% if field.field.widget.input_type != 'file' %}
                {{ field }}
            {% else %}
                <div class="image-upload-container">
                    {{ field }}
                    <img id="image-preview" src="" alt="Image Preview" style="display:none;">
                    <p style="margin:20px; font-size: 12px;">Click or Drop here to Upload image</p>
                </div>
            {% endif %}
           
            </div>
        {% endfor %}
        
        {% for field in selling_price_form %}
            <div class="form-group">
            {{ field.label_tag }}
            
            {% if field.help_text %}
                <small class="help-text">{{ field.help_text }}</small>
            {% endif %}
            
            {% for error in field.errors %}
                <div class="field-error">{{ error }}</div>
            {% endfor %}
            
            {{ field }}
            
            </div>
        {% endfor %}
        
        {% for form in attr_value_forms %}
            {% for field in form %}
                
                {% if field.field.widget.input_type != 'hidden' %}
                    <div class="form-group">
                    {{ field.label_tag }}
                    
                    {% if field.help_text %}
                        <small class="help-text">{{ field.help_text }}</small>
                    {% endif %}
                    
                    {% for error in field.errors %}
                        <div class="field-error">{{ error }}</div>
                    {% endfor %}
                    
                    {{ field }}
                    
                    </div>
                {% else %}
                    {{field}}
                {% endif %}
            {% endfor %}
        {% endfor %}
        
        <button type="submit">Save</button>

    </form>
</div>
{% endblock %}

{% block script %}
<script>
    window.onload = ()=>{
        variant_name = document.querySelector("input[name='variant_name']")
        focus_inputfield(variant_name)
    }
</script>
{% endblock %}