{% extends 'base.html' %}

{% block title %}Edit Variant{% endblock %}

{% load user_custom_tags %}

{% block menubar %}
    {% if request.user|has_group:"owner" %}
        {% include 'owner_menu.html' %}
    {% elif request.user|has_group:"salesman" %}
        {% include 'salesman_menu.html' %}
    {% endif %}
{% endblock %}

{% block content %}
<a href="/products/"><button><i class="fa-solid fa-arrow-left"></i>Back to Products</button></a>
<div class="form-container">
    <h1>Edit Variant Details</h1>
    
    <p>Edit variant detail of the product '{{variant.product_ref}}'</p>
    
    {% if message %}
    <p class="success-message">{{message}}</p>
    {% endif %}
    
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in variant_form %}
            <div class="form-group">
                {{ field.label_tag }}
                {% if field.help_text %}
                    <small class="help-text">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="field-error">{{ error }}</div>
                {% endfor %}
                {{ field }}
            </div>
        {% endfor %}
        {% for field in detail_form %}
            <div class="form-group">
                {{ field.label_tag }}
                {% if field.help_text %}
                    <small class="help-text">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="field-error">{{ error }}</div>
                {% endfor %}
                {{ field }}
            </div>
        {% endfor %}
        {{attr_value_formset.management_form}}
        {% for form in attr_value_formset%}
            {% for field in form %}
                {% if field.field.widget.input_type != 'hidden' %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% if field.help_text %}
                        <small class="help-text">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="field-error">{{ error }}</div>
                    {% endfor %}
                    {{ field }}
                </div>
                {% else %}
                {{field}}
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% for field in selling_price_form %}
            <div class="form-group">
                {{ field.label_tag }}
                {% if field.help_text %}
                    <small class="help-text">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="field-error">{{ error }}</div>
                {% endfor %}
                {{ field }}
            </div>
        {% endfor %}
        {% if price_formset %}
            {{price_formset.management_form}}
            <h3>Price Variants</h3>
            <span>only the price variants with stock quantity greater than zero are shown</span>
                {% for form in price_formset %}
                    <div class="price_set">
                        {% for field in form %}
                            {% if field.field.widget.input_type != 'hidden' %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {% if field.help_text %}
                                    <small class="help-text">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <div class="field-error">{{ error }}</div>
                                {% endfor %}
                                {{ field }}
                            </div>
                            {% else %}
                            {{field}}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
        {% elif selling_price_form is None %}
        <h3>Price Variants</h3>
        <p>There is no stocks in this product, so its price variants are not shown</p>
        {% endif %}
        <button type="submit">Save</button>
    </form>
</div>
<script>
</script>
{% endblock %}