{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% load user_custom_tags %}

{% block menubar %}
    {% if request.user|has_group:"owner" %}
        {% include 'owner_menu.html' %}
    {% elif request.user|has_group:"salesman" %}
        {% include 'salesman_menu.html' %}
    {% endif %}
{% endblock %}

{% block content %}
<h1>Products</h1>
<a href="/products/categories/"><button>Manage Categories</button></a>
<a href="/products/brands/"><button>Manage Brands</button></a><br>
<a href="/products/attributes/"><button>Manage Attributes</button></a><br>
<a href="/products/add/" style="float:right"><button>Add Product</button></a><br>
<p style="clear:both"></p>
<table style="text-align:center" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Product Code</th>
            <th>Is Active</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            {% if not product.product_ref.has_variants %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>
                    {% if product.product_detail_ref.product_image %}
                    <img src="{{product.product_detail_ref.product_image.url}}" alt="{{product.product_detail_ref.product_image}}" width="35px" height="35px">
                    {% endif %}
                    {{product.product_ref.product_name}}
                </td>
                <td>{{product.product_ref.category_ref}}</td>
                <td>{{product.product_ref.brand_ref}}</td>
                <td>{{product.product_detail_ref.product_code}}</td>
                <td>
                    {% if product.product_detail_ref.is_active %}
                    Active
                    {% else %}
                    Inactive
                    {% endif %}
                </td>
                <td><a href="{% url 'edit_product' product.product_ref.product_id %}"><button>Edit</button></a></td>
                <td><a href="{% url 'delete_product' product.product_ref.product_id %}"><button>delete</button></a></td>
            </tr>
            {% else %}
            <tr class="prod_has_var">
                <td>{{product.product_ref.product_id}}</td>
                <td>{{product.product_ref.product_name}}</td>
                <td>{{product.product_ref.category_ref}}</td>
                <td>{{product.product_ref.brand_ref}}</td>
                <td colspan="2"></td>
                <td><a href="{% url 'edit_product' product.product_ref.product_id %}"><button>Edit</button></a></td>
                <td><a href="{% url 'delete_product' product.product_ref.product_id %}"><button>delete</button></a></td>
            </tr>
                {% for variant in product.variants %}
                <tr class="prod_var_inside">
                    <td>{{forloop.counter}}</td>
                    <td colspan="3" >
                        <div style="display: flex; align-items:center;">
                            {% if variant.product_detail_ref.product_image %}
                            <img src="{{variant.product_detail_ref.product_image.url}}" alt="{{product.product_detail_ref.product_image}}" width="35px" height="35px">
                            {% endif %}
                            <div style="display:flex; flex-direction: column; overflow-x: auto;">
                                <span style="flex:1">{{variant.variant_ref.variant_name}}</span>
                                <p style="flex:1; display: flex; gap: 15px;">
                                    {% for attribute, value in variant.attributes.items %}
                                    <span>{{attribute}} : {{value}}</span>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>{{variant.product_detail_ref.product_code}}</td>
                    <td>
                        {% if variant.product_detail_ref.is_active %}
                        Active
                        {% else %}
                        Inactive
                        {% endif %}
                    </td>
                    <td><a href="{% url 'edit_variant' variant.variant_ref.variant_id %}"><button>Edit</button></a></td>
                    <td><a href="{% url 'delete_variant' variant.variant_ref.variant_id %}"><button>delete</button></a></td>
                </tr>
                {% endfor %}
                <tr class="prod_var_inside">
                    <td></td>
                    <td style="text-align: left;" colspan="8"><a href="{% url 'add_variant' product.product_ref.product_id %}"><button>Add Variant</button></a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}