{% extends 'base.html' %}

{% block title %}Add Warehouses{% endblock %}

{% load user_custom_tags %}

{% block menubar %}
    {% if request.user|has_group:"Owner" %}
        {% include 'owner_menu.html' %}
    {% elif request.user|has_group:"Salesman" %}
        {% include 'salesman_menu.html' %}
    {% endif %}
{% endblock %}

{% block content %} 
<a href="/warehouses/"><button><i class="fa-solid fa-arrow-left"></i>Back To Warehouses</button></a>

<div class="container">
    <h1>Add Warehouse</h1>
    {% if message %}
        <p class="alert alert-success"><i class="fa-solid fa-circle-check"></i>{{message}}</p>
    {% endif %}
    
    {% if warehouse_form.errors %}
        {% for error in warehouse_form.non_field_errors %}
            <p class="alert alert-danger"><i class="fa-solid fa-circle-exclamation"></i>{{error}}</p>
        {% endfor %}
    {% endif %}
    
    <form method="POST" action="">
        {% csrf_token %}
        {% for field in warehouse_form %}
            <div class="form-group">
            {{ field.label_tag }}
            
            {% if field.help_text %}
                <small class="help-text">{{ field.help_text }}</small>
            {% endif %}
            
            {% for error in field.errors %}
                <div class="field-error">{{ error }}</div>
            {% endfor %}
            
            {{ field }}
            </div>
        {% endfor %}
        <button type="submit">Add Warehouse</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    window.onload = ()=>{
        warehouse_name = document.querySelector("input[name='warehouse_name']")
        warehouse_name.focus()
    }
</script>
{% endblock %}