{% extends 'base.html' %}

{% block title %}Warehouses{% endblock %}

{% load user_custom_tags %}

{% block menubar %}
    {% if request.user|has_group:"owner" %}
        {% include 'owner_menu.html' %}
    {% elif request.user|has_group:"salesman" %}
        {% include 'salesman_menu.html' %}
    {% endif %}
{% endblock %}


{% block content %}
    <h1>Warehouses</h1>
    <a href="/warehouses/add/"><button>Add Warehouse</button></a>
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Location</th>
                <th>Incharge Name</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
        </thead>
        <tbody>
            {% for warehouse in warehouses %}
            <tr>
                <td>{{warehouse.warehouse_id}}</td>
                <td>{{warehouse.warehouse_name}}</td>
                <td>{{warehouse.location}}</td>
                <td>{{warehouse.incharge_person}}</td>
                <td><a href="{% url 'edit_warehouse' warehouse.warehouse_id %}"><button>edit</button></a></td>
                <td><a href="{% url 'delete_warehouse' warehouse.warehouse_id %}"><button>delete</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}