{% extends 'base.html' %}

{% block title %}Add Sale{% endblock %}

{% load user_custom_tags %}

{% block menubar %}
    {% if request.user|has_group:"Owner" %}
        {% include 'owner_menu.html' %}
    {% elif request.user|has_group:"Salesman" %}
        {% include 'salesman_menu.html' %}
    {% endif %}
{% endblock %}

{% block content %}
<p><a href="/sales/"><button><i class="fa-solid fa-arrow-left"></i>Back to Sales</button></a></p>
<div class="container">
    <h2>Add Sale</h2>
    
    <form method = "POST" action="">
        {% csrf_token %}
        <div class="customer_group">
            <div class="form-group">
                {{sale_header_form.customer_ref.label_tag}}
                {{sale_header_form.customer_ref}}
            </div>
            <a href="/customers/add?next=add_sale"><button type="button" class="add_customer_button"><i class="fa-solid fa-user-plus"></i>Add new Customer</button></a>
        </div>
        <table class="sale_table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Unit Sell Price</th>
                    <th>Total Product amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="sale_items_block">
                <tr class="sale_item">
                    <td>{{sale_item_form.product_with_price_ref}}<br><small class="help-text"></small></td>
                    <td>{{sale_item_form.quantity}}</td>
                    <td>{{sale_item_form.unit_sell_price}}</td>
                    <td><input type="number" name="product_amount" readonly></td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <button type="button" class="add_item_button"><i class="fa-solid fa-plus"></i>Add Item</button>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div>
            <label for="id_bill_amount">Bill Amount</label>
            <input type="number" name="bill_amount" id="id_bill_amount" readonly>
        </div>
        <div class="form-group">
            {{sale_header_form.discount_percent.label_tag}}
            {{sale_header_form.discount_percent}}
        </div>
        <div class="form-group">
            {{sale_header_form.discount_amount.label_tag}}
            {{sale_header_form.discount_amount}}
        </div>
        <div class="form-group">
            <label for="id_total_amount">Total Amount</label>
            <input type="number" name="total_amount" id="id_total_amount" readonly>
        </div>
        <button type="submit">Add Sale</button>
    </form>
</div>

{% endblock %}

{% block script %}

<script>
    $('[name="customer_ref"]').select2()
    let product_prices = JSON.parse("{{product_prices|escapejs}}")

    let bill_amount = document.querySelector("input[name='bill_amount']")
    let total_amount = document.querySelector("input[name='total_amount']")
    let discount_amount =  document.querySelector("#id_discount_amount")
    let discount_percent =  document.querySelector("#id_discount_percent")
    let discount_inputs = [discount_amount, discount_percent]
    discount_inputs.forEach((element)=>{
        element.addEventListener("change", (e)=>{
            calcdiscount(e.target)
        })
    })

    let items_block = document.querySelector("#sale_items_block")    
    let sale_item = items_block.childNodes[1]
    sale_item.innerHTML = sale_item.innerHTML.replace(RegExp("id_", 'g'), `id_form-0_`)
    $("[name='product_with_price_ref']").select2()
    add_events(sale_item)

    let formNum = items_block.children.length - 1
    // initially add one sale item form

    document.querySelector(".add_item_button").addEventListener("click", ()=>{
        add_sale_item()
    })

    //add sale item function
    function add_sale_item(){
        let sale_item = document.createElement("tr")
        sale_item.classList.add('sale_item')
        let sale_item_form = `<td>{{sale_item_form.product_with_price_ref}}<br><small class="help-text"></small></td>
            <td>{{sale_item_form.quantity}}</td>
            <td>{{sale_item_form.unit_sell_price}}</td>
            <td><input type="number" name="product_amount" readonly></td>
            <td></td>`
        formNum++
        sale_item.innerHTML = sale_item_form.replace(RegExp("id_", 'g'), `id_form-${formNum}`)
        
        let remove_item_btn = document.createElement("button")
        remove_item_btn.setAttribute("type","button")
        remove_item_btn.setAttribute("class","remove_item_button")
        remove_item_btn.innerHTML = "<i class='fa-solid fa-xmark m-0'></i>"
        remove_item_btn.addEventListener("click", (e)=>{
            remove_item_btn.parentElement.parentElement.remove()
            calcproductprice(e)
        })
        sale_item.lastElementChild.appendChild(remove_item_btn)
        select_input = sale_item.querySelector("select[name='product_with_price_ref']")
        $(select_input).select2()
        add_events(sale_item)
        items_block.appendChild(sale_item)
    }

    //add event for the sale item function
    function add_events(sale_item){
        let select_input = sale_item.querySelector("select")
        $(select_input).on('select2:select', function (e) {
            let select2data = e.params.data;
            let ppid = select2data.id
        
            quantity_input = sale_item.querySelector("input[name='quantity']")
            help_text = sale_item.querySelector(".help-text")
            unit_sell_price = sale_item.querySelector("input[name='unit_sell_price']")
            if(ppid != ""){
                // product_item = product_prices.find((item)=> item[e.target.value] != null)[e.target.value]
                // unit_sell_price.value = product_item["selling_price"]
                // help_text.textContent = `Available stock of this product in shop : ${product_item["quantity"]}`
                // quantity.setAttribute("max", data)
                // if(quantity.value > data){
                //     quantity.value = data
                // }
                unit_sell_price.value = product_prices.find((item)=> item[ppid] != null)[ppid]
                fetch(`/stocks/products/quantity?ppid=${ppid}`)
                .then(response=>{
                    if (!response.ok) {
                        throw new Error(`HTTP error: ${response.status}`);
                    }
                    return response.json()
                })
                .then(data=>{
                    help_text.textContent = `Available stock of this product in shop : ${data}`
                    quantity_input.setAttribute("max", data)
                    if(quantity_input.value > data){
                        quantity_input.value = data
                    }
                    calcproductprice(e)
                })
                .catch(error=>{
                    sale_item.querySelector(".help-text").textContent = "unable to fetch"
                    console.log(error)
                })
            }
            else{
                unit_sell_price.value = ""
                help_text.textContent = ""
                quantity_input.removeAttribute("max")
            }
        })

        sale_item.querySelectorAll("input[name='quantity'], input[name='unit_sell_price']").forEach((element)=>{
            element.addEventListener("change", (e)=>{
                calcproductprice(e)
            })
        })
    }

    //calculate total product price function
    function calcproductprice(e){
        sale_item = e.target.closest('.sale_item')
        quantity = sale_item.querySelector("input[name='quantity']")
        sell_price = sale_item.querySelector("input[name='unit_sell_price']")
        
        if(quantity.value!="" && sell_price.value!=""){
            sale_item.querySelector("input[name='product_amount']").value = quantity.value * sell_price.value
            calcbillprice()
        }
    }

    //calculate total bill price function
    function calcbillprice(){
        let sale_items = document.querySelectorAll('.sale_item')
        let amount = 0
        sale_items.forEach((sale_item)=>{
            quantity = sale_item.querySelector("input[name='quantity']")
            sell_price = sale_item.querySelector("input[name='unit_sell_price']")
            
            amount += quantity.value * sell_price.value
            bill_amount.value = amount

            //calculate discountamount after generating bill amount, it is not efficient 
            //bcoz it just minus total amount based on first specified discount amount only not first based on discount percent
            if(discount_amount.value !="" && discount_amount.value != 0){
                calcdiscount(discount_amount)
            }
            else if(discount_percent.value !="" && discount_percent.value != 0){
                calcdiscount(discount_percent)
            }
            // when both are zero, then total amount is just assigned as bill amount
            else{
                total_amount.value = bill_amount.value
            }
        })
    }

    //calculate discount amount function
    function calcdiscount(element){
        if(bill_amount.value != "" && bill_amount.value != 0){
            if(element==discount_amount){
                discount_percent.value = ((discount_amount.value/bill_amount.value)*100).toFixed(2)
            } 
            else{
                discount_amount.value = Math.round(bill_amount.value * discount_percent.value / 100)
            }
            total_amount.value = bill_amount.value - discount_amount.value
        }
    }
</script>

{% endblock %}