<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
<div class="offcanvas-header">
  <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Sales
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/sales/add/">Add Sales</a></li>
    <li><a class="dropdown-item" href="/sales/">View Sales</a></li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Customers
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/customers/add/">Add Customer</a></li>
    <li><a class="dropdown-item" href="/customers/">View Customers</a></li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" href="/products/">View Products</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/warehouses/">View Warehouses</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    User
    </a>
    <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/user/logout/">logout</a></li>
    </ul>
</li>
</ul>
<!-- <form class="d-flex mt-3" role="search">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form> -->
</div>
</div>