<aside class="sidebar shown">
    <nav>
        <ul class="nav-list">
            <li><a href="/products/"><i class="fa-solid fa-boxes-stacked"></i>View Products</a></li>
            <li class="dropdown">
                <a href="#"><i class="fa-solid fa-cubes"></i>Inventory <i class="fa-solid fa-angle-right right"></i></a>
                <ul class="dropdown-content">
                    <li><a href="/stocks/"><i class="fa-solid fa-clipboard-list"></i>View Stocks</a></li>
                    <li><a href="/warehouses/"><i class="fa-solid fa-warehouse"></i>View Warehouses</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#"><i class="fa-solid fa-cart-shopping"></i>Sales <i class="fa-solid fa-angle-right right"></i></a>
                <ul class="dropdown-content">
                    <li><a href="/sales/add/"><i class="fa-solid fa-plus"></i>Add Sales</a></li>
                    <li><a href="/sales/"><i class="fa-solid fa-clipboard-list"></i>View Sales</a></li>
                    <li><a href="/customers/add/"><i class="fa-solid fa-user-plus"></i>Add Customers</a></li>
                    <li><a href="/customers/"><i class="fa-solid fa-people-group"></i>View Customers</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#"><i class="fa-solid fa-user"></i>User <i class="fa-solid fa-angle-right right"></i></a>
                <ul class="dropdown-content">
                    <li><a href="/user/logout/"><i class="fa-solid fa-right-from-bracket"></i>logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>