{% extends 'base.html' %}

{% block title %}Add Categories{% endblock %}

{% load user_custom_tags %}

{% block menubar %}
    {% if request.user|has_group:"owner" %}
        {% include 'owner_menu.html' %}
    {% elif request.user|has_group:"salesman" %}
        {% include 'salesman_menu.html' %}
    {% endif %}
{% endblock %}

{% block content %}
<h1>Add Category</h1>
<a href="/products/categories/"><button>Back to Categories</button></a>

{% if message %}
<p class="success-message">{{message}}</p>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    {{category_form}}
    <button type="submit">Add</button>
</form>
{% endblock %}