{% extends 'base.html' %}

{% block title %}Product Attributes{% endblock %}

{% block content %}
<h1>Product Attributes</h1>
<a href="/products/"><button>Back to Products</button></a>
<a href="/products/attributes/add/"><button>Add Attribute</button></a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for attribute in attributes %}
        <tr>
            <td>{{attribute.attribute_id}}</td>
            <td>{{attribute.attribute_name}}</td>
            <td><a href="{% url 'edit_attribute' attribute.attribute_id %}"><button>Edit</button></a></td>
            <td><a href="{% url 'delete_attribute' attribute.attribute_id %}"><button>delete</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}