{% extends 'base.html' %}

{% block title %}Categories{% endblock %}

{% block content %}
<h1>Brands</h1>
<a href="/products/"><button>Back to Products</button></a>
<a href="/products/brands/add/"><button>Add Brands</button></a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for brand in brands %}
        <tr>
            <td>{{brand.brand_id}}</td>
            <td>{{brand.brand_name}}</td>
            <td><a href="{% url 'edit_brand' brand.brand_id %}"><button>Edit</button></a></td>
            <td><a href="{% url 'delete_brand' brand.brand_id %}"><button>delete</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}