{% extends 'base.html' %}

{% block title %}Categories{% endblock %}

{% load user_custom_tags %}

{% block menubar %}
    {% if request.user|has_group:"owner" %}
        {% include 'owner_menu.html' %}
    {% elif request.user|has_group:"salesman" %}
        {% include 'salesman_menu.html' %}
    {% endif %}
{% endblock %}

{% block content %}
<a href="/products/"><button>Back to Products</button></a>
<div class="table-container">
    <h1 class="table-title">Categories</h1>
    <a href="/products/categories/add/"><button class="btn btn-add"><i class="fa-solid fa-plus"></i>Add Category</button></a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{category.category_id}}</td>
                <td>{{category.category_name}}</td>
                <td><a href="{% url 'edit_category' category.category_id %}"><button class="btn btn-edit"><i class="fa-solid fa-pencil"></i>Edit</button></a></td>
                <td><a href="{% url 'delete_category' category.category_id %}"><button class="btn btn-delete"><i class="fa-regular fa-trash-can"></i>delete</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}