{% extends 'base.html' %}

{% block title %}Categories{% endblock %}

{% block content %}
<h1>Categories</h1>
<a href="/products/"><button>Back to Products</button></a>
<a href="/products/categories/add/"><button>Add Category</button></a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{category.category_id}}</td>
            <td>{{category.category_name}}</td>
            <td><a href="{% url 'edit_category' category.category_id %}"><button>Edit</button></a></td>
            <td><a href="{% url 'delete_category' category.category_id %}"><button>delete</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}