{% extends 'base.html' %}

{% block title %}Edit Attributes{% endblock %}

{% load user_custom_tags %}

{% block menubar %}
    {% if request.user|has_group:"Owner" %}
        {% include 'owner_menu.html' %}
    {% elif request.user|has_group:"Salesman" %}
        {% include 'salesman_menu.html' %}
    {% endif %}
{% endblock %}

{% block content %}
<a href="/products/attributes/"><button><i class="fa-solid fa-arrow-left"></i>Back to Attributes</button></a>
<div class="container">
    <h2>Edit Attribute</h2>
    
    <form action="" method="POST">
        {% csrf_token %}
    
        {% for field in attribute_form %}
            <div class="form-group">
            {{ field.label_tag }}
    
            {% if field.help_text %}
                <small class="help-text">{{ field.help_text }}</small>
            {% endif %}
    
            {% for error in field.errors %}
                <div class="field-error">{{ error }}</div>
            {% endfor %}
    
            {{ field }}
            </div>
        {% endfor %}
    
        <button type="submit">Save</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    window.onload = ()=>{
        attribute_name = document.querySelector("input[name='attribute_name']")
        focus_inputfield(attribute_name)
    }
</script>
{% endblock %}