{% extends 'base.html' %}

{% block title %}Edit Categories{% endblock %}

{% load user_custom_tags %}

{% block menubar %}
    {% if request.user|has_group:"owner" %}
        {% include 'owner_menu.html' %}
    {% elif request.user|has_group:"salesman" %}
        {% include 'salesman_menu.html' %}
    {% endif %}
{% endblock %}

{% block content %}
<h1>Edit Categories</h1>
<a href="/products/categories/"><button>Back to categories</button></a>
<form action="" method="POST">
    {% csrf_token %}
    {{category_form}}
    <button type="submit">Save</button>
</form>
{% endblock %}